<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tiendas Favoritas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="tiendas">
  <ion-card *ngFor="let tienda of tiendas; let i = index;">
    <ion-card-content (click)="goToProductsList(tienda)">
      <img [src]="tienda.foto">
      <ion-row>
        <ion-col>
          <strong>{{ tienda.descripcion }}</strong>
        </ion-col>
        <ion-col center text-end>
          <ion-note> {{ tienda.provincia }}</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <p> {{ tienda.categoria }}</p>
      </ion-row>
    </ion-card-content>
    <ion-row>
      <ion-col col-8>
        <b padding>Horario De: {{ tienda.horaabierto }} a {{ tienda.horacierre }}</b>
      </ion-col>
      <ion-col col-4>
        <button ion-button outline color="danger" (click)="delFavorite(tienda);">
          Quitar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
