<ion-header>
  <ion-navbar color="themeorange">
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/logounbg.png">
  <ion-card padding *ngIf="showLogin">
    <form [formGroup]="form" novalidate>
      <ion-item color="theme-blue">
        <ion-label floating>Email</ion-label>
        <ion-input type="text" name="email" formControlName="email" #email (ionBlur)="removeSpaces(email)"></ion-input>
      </ion-item>
      <div padding *ngIf="form.controls.email.errors && form.controls.email.dirty">
        <ion-label color="danger">*Requerido</ion-label>
      </div>

      <ion-item color="theme-blue">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" formControlName="password" #password></ion-input>
      </ion-item>
      <div padding *ngIf="form.controls.password.errors && form.controls.password.dirty">
        <ion-label color="danger">*Requerido</ion-label>
      </div>
      <div class="btn-login">
        <button full ion-button (click)="login()" color="themeorange">Ingresar</button>
      </div>
    </form>
    <div class="bottons_a">    
      <button full ion-button outline color="theme-purple" clear class="bt1" color="themeorange">Olvidé la contraseña</button>
      <button full ion-button outline color="theme-purple" clear class="bt2" (click)="goToSignIn()" color="themeorange">Aún no tengo cuenta</button>
    </div>
  </ion-card>

  <ion-card *ngIf="showVerifyEmail">
    <ion-card-content>
      <ion-item color="theme-blue">
        <ion-label stacked>Ingresa tu email</ion-label>
        <ion-input type="email" [(ngModel)]="emailConfirm"></ion-input>
      </ion-item>
      <ion-label></ion-label>
      <ion-buttons right>
        <button ion-button color="theme-orange" (click)="reSendValidCode()">Reenviar código</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showverifyCode">
    <ion-card-content>
      <ion-item color="theme-blue">
        <ion-label stacked>Ingresa el código enviado a tu email</ion-label>
        <ion-input type="email" [(ngModel)]="codeConfirm"></ion-input>
      </ion-item>
      <ion-label></ion-label>
      <ion-buttons right>
        <button ion-button color="theme-orange" (click)="validCode()">Validar código</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>
