page-login {
	ion-content{
		background: color($colors, themeorange) !important;
	}
	.imgLogin{
		width: 70%;
		margin: auto;
		display: block;		
	}
	.tblue{
		color: #488aff;
	}
	.btn-login{
		margin-top: 1em;
		padding: .5em;
		button{
			border-radius: 2px;
		}
	}
}
