page-login {
	ion-content{
		background: color($colors, themeorange) !important;
	}
	ion-card{
		background: rgba(255,255,255,0.5) !important;
	
		ion-item,ion-input{
			background: rgba(255,255,255,0) !important;
		}
	}
	.tblue{
		color: #488aff;
	}
}
