page-tracking {
  #map {
    width: 100%;
    height: 100%;
    img{
      transition: 1s all;
    }
  }   
  .mapInside{
    height: 82vh !important;
  }
	.menuI{
		font-size: 2em;
	}	      
  .infor1{
    color: #fff;
    text-align: left;
    padding: 0em 1em;    
    font-size: .9em;
  }
  .infor2{
    text-align: center;
    color: #fff;
    font-size: .9em;
  }  
	.notificationAlert{
		width: 100%;
		height: 100%;
		// background: url('../assets/imgs/eyelock.png');
    // background: rgba(255,68,2,0.9);
    background: rgba(0,0,0,0.9);
    display: flex;
    align-content: center;
    justify-content: center;
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		// background-position: top center;
		// background-size: cover;
    // background-repeat: no-repeat;	
    img{
      width: 200px;
      height: 200px;
      margin-top: 5em;
    }	
  }  
	.msgConfirm{
		color: #fff;
		font-size: 1.2em;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 80%;
		bottom: 7em;
	}  
}
