page-tracking {
  #map {
    width: 100%;
    height: 90%;
  }       
  .infor1{
    color: #fff;
    text-align: left;
    padding: 0em 1em;    
    font-size: 1.1em;
  }
  .infor2{
    text-align: center;
    color: #fff;
    font-size: 1.1em;
  }  
}
