<ion-header>

  <ion-navbar color="themeorange">
    <ion-title>Mi perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div class="full" *ngIf="user">
      <div class="imgbox">
        <img [src]="user.perfil.foto" alt="perfil.png">
        <p text-center class="nameUser">{{ user.perfil.nombre }} {{ user.perfil.apellido }}</p>
      </div>

      <ion-toolbar>
        <ion-segment [(ngModel)]="perfilOptions" color="dark">
          <ion-segment-button value="perfil" selected="true">
            <ion-icon name="camera"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="card">
            <ion-icon name="card"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="address">
            <ion-icon name="mail"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="history">
            <ion-icon name="book"></ion-icon>
          </ion-segment-button>

        </ion-segment>
      </ion-toolbar>

      <div [ngSwitch]="perfilOptions" class="box-tabs">
        <div *ngSwitchCase="'perfil'">
          <ion-item>
            <span item-left>Nombre</span>
            <span item-right>{{ user.perfil.nombre }} {{ user.perfil.apellido }}</span>
          </ion-item>
          <ion-item>
            <span item-left>Teléfono</span>
            <span item-right>{{ user.perfil.telefono }}</span>
          </ion-item>
          <ion-item>
            <span item-left>Email</span>
            <span item-right>{{ user.perfil.correo }}</span>
          </ion-item>
          <ion-item>
            <span item-left>Provincia</span>
            <span item-right>{{ user.perfil.provincia }}</span>
          </ion-item>
        
          <ion-footer>
            <button full ion-button (click)="editPerfil()">
              <ion-icon name="ios-contact-outline" item-left color="theme-white"></ion-icon>&nbsp; Editar perfil
            </button>
          </ion-footer>
        </div>
        <!--Perfil-->
        <div *ngSwitchCase="'card'">
          <ion-list-header>
            Métodos de pago
            <ion-icon name="add" item-right (click)="addMethod()"></ion-icon>
          </ion-list-header>
          <ion-item *ngFor="let item of user.metodos">
            {{ item.tarjetanombre }} - {{ item.tarjetafecha }}
            <ion-icon ios="ios-create" md="md-create" item-right (click)="editDirection(item)"></ion-icon>
          </ion-item>
        </div>
        <div *ngSwitchCase="'address'">
          <ion-list-header>
            Direcciones de Envios <ion-icon name="add" item-right (click)="addDirection()"></ion-icon>
          </ion-list-header>
          <ion-item *ngFor="let item of user.direcciones">
            {{ item.ciudad }} - {{ item.provincia }}
            <ion-icon ios="ios-create" md="md-create" item-right (click)="editDirection(item)"></ion-icon>
          </ion-item>
        </div>
        <div *ngSwitchCase="'history'">
          <a ion-item>
            <ion-label>Historial de Compra</ion-label>
          </a>
        </div>
      </div>

    </div>

  </div>
</ion-content>