<ion-header>
  <ion-navbar color="themeorange">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Menú Principal</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<ion-grid *ngIf="categorias">
		<ion-item color="themeorange">
			<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCategories()" (ionCancel)="getCategorias()">
			</ion-searchbar>
		</ion-item>
		<ion-row>
			<ion-col col-6 *ngFor="let categoria of categorias">
				<ion-card  (click)="goToStores(categoria)" [style.background]="sanitizeImage(categoria.foto)">
					<!-- <img [src]="categoria.foto"> -->
					<div class="desc">{{ categoria.descripcion }}</div>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
