page-principal-menu {

	ion-content{
		background: #f1f1f1 !important;
		ion-grid{
			padding: 0 !important;
		}
		@media (min-width: 576px) { 
			ion-card{
				height: 300px !important;
			}
		 }
		ion-card{
			// min-height: 150px !important;
			display: flex;
			align-items: center;
			position: relative;
			margin: 0 !important;
			// min-height: 150px;
			// max-height: 418px;
			height: 185px;
			width: initial !important;
			background-size: cover !important;
	  		background-repeat: no-repeat !important;
			img{
				width: 100%;
				height: 100%;
			}

			div.desc{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				text-align: center;
				font-size: 1.2em;
				color: #fff;
				background: rgba(0,0,0,0.5);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

}
