<ion-header>

  <ion-navbar color="primary">
    <ion-title>Carrito</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <table>
        <!-- <tbody *ngIf="items != undefined">
          <tr *ngFor="let item of items">
            <td class="_1">
              <img [src]="item.foto">
            </td>
            <td class="_2">{{ item.descripcion }}</td>
            <td class="_3">{{ item.precio | number }}₡</td>
          </tr>
        </tbody> -->

        <tfoot>
          <tr class="lavander">
            <th colspan="2" class="row-ajust">Total</th>
            <td class="row-ajust"><span class="precio">{{total}}₡</span></td>
          </tr>
        </tfoot>
    </table>
  </ion-card>  
  <ion-footer>
    <button ion-button (click)="ProccessPayment()" full>Procesar pago</button>
  </ion-footer>
</ion-content>

