<ion-header>

  <ion-navbar color="primary">
    <ion-title>Carrito</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="items != undefined">
    <ion-row *ngFor="let item of items">
        <ion-col><img [src]="item.foto"></ion-col>
        <ion-col>{{ item.descripcion }}</ion-col>
        <ion-col>{{ item.precio }}₡</ion-col>
        <ion-col>{{ item.cantidad }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Total</ion-col>
      <ion-col>{{total}}₡</ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <button ion-button (click)="ProccessPayment()" full>Procesar pago</button>
  </ion-footer>
</ion-content>

