<ion-header>

  <ion-navbar color="themeorange">
    <ion-title>Carrito</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="items">
    <ion-row class="lavander headers">
      <ion-col col-3> </ion-col>
      <ion-col col-3>Nombre</ion-col>
      <ion-col col-3>Precio</ion-col>
      <ion-col col-3>Cantidad</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of items">
        <ion-col col-3><img [src]="item.foto"></ion-col>
        <ion-col col-3>{{ item.descripcion }}</ion-col>
        <ion-col col-3>₡{{ item.precio }}</ion-col>
        <ion-col col-3>{{ item.cantidad }}</ion-col>
    </ion-row>
    <ion-row class="headers">
      <ion-col class="lavander">Subtotal</ion-col>
      <ion-col class="prices">₡{{total}}</ion-col>
    </ion-row>

    <ion-row class="headers" *ngIf="user">
      <ion-col class="lavander">Viaje</ion-col>
      <ion-col class="prices">₡{{ user.precios.precioviaje }}</ion-col>
    </ion-row>

    <ion-row class="headers" *ngIf="user">
      <ion-col class="lavander">Total</ion-col>
      <ion-col class="prices">₡{{ sumTotal(total, user.precios.precioviaje) }}</ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-card *ngIf="!items" padding>
    <p text-center>
      <ion-icon name="ios-information-circle-outline" class="infoicon"></ion-icon>
    </p>
    <p class="info" text-center>No tienes productos en el carrito de compras</p>
  </ion-card>
  <ion-footer>
    <button ion-button (click)="ProccessPayment()" full [disabled]="!items" color="themeorange">SOLICITAR MI MANDADO</button>
  </ion-footer>
</ion-content>

