page-cart {

    .lavander{
        background: lavender;
    }
    .row-ajust{
        padding: 1em;
    }
    .prices{
        background: #FF6700;
    }
    ion-row.headers{
        ion-col{
            padding: .7em;
            font-size: .9em;
        }
        ion-col.totals{
            font-size: 1.3em !important;
        }
    }
}
