page-cart {
    background: lavender !important;
    .lavander{
        background: lavender;
    }
    .row-ajust{
        padding: 1em;
    }
    .lightgreen{
        background: lightgreen;
    }
    ion-row.headers{
        ion-col{
            padding: .7em;
            font-size: .9em;
        }
        ion-col.totals{
            font-size: 1.3em !important;
        }
    }
}
