page-register-user {
    .greenborder{
        .item-inner{
            border-bottom-color: #32db64 !important;
            -webkit-box-shadow: inset 0 -1px 0 0 #32db64 !important;
            box-shadow: inset 0 -1px 0 0 #32db64 !important;
        }
    }
}
