<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form form [formGroup]="form" novalidate>
		<ion-grid>
		  <ion-row>
		    <ion-col col-6>  
					<ion-item>
						<ion-label floating>Nombre</ion-label>s
						<ion-input type="text" name="nombre" formControlName="nombre" #nombre></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.nombre.errors && form.controls.nombre.dirty">
						<ion-label color="danger" *ngIf="form.controls.nombre.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>
		    <ion-col col-6>  
		      <ion-item>
			    	<ion-label floating>Apellidos</ion-label>
			   		<ion-input type="text" name="apellido" formControlName="apellido" #apellido></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.apellido.errors && form.controls.apellido.dirty">
						<ion-label color="danger" *ngIf="form.controls.apellido.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>		
		  </ion-row>
			
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label floating>Correo</ion-label>
						<ion-input type="text" name="correo" formControlName="correo" #correo></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.correo.errors && form.controls.correo.dirty">
						<ion-label color="danger" *ngIf="form.controls.correo.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>
				<ion-col col-6>
					<ion-item [ngClass]="{'greenborder': provincia.value != ''}">
						<ion-label floating>Provincia</ion-label>
						<ion-input type="text" name="provincia" formControlName="provincia" #provincia (focus)="showProvincias()"></ion-input>
						<input type="hidden" name="idprovincia" formControlName="idprovincia" #idprovincia>
					</ion-item>
					<div padding *ngIf="form.controls.provincia.errors && form.controls.provincia.touched">
						<ion-label color="danger" *ngIf="form.controls.provincia.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>
			</ion-row>
			
		  <ion-row>
				<ion-col col-4>  
					<ion-item [ngClass]="{'greenborder': code.value != ''}">
						<ion-label floating>Prefijo</ion-label>
						<ion-input type="text" name="code" formControlName="code" #code (focus)="showCountries()"></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.code.errors && form.controls.code.touched">
						<ion-label color="danger" *ngIf="form.controls.code.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>
		    <ion-col col-8>  
					<ion-item>
						<ion-label floating>Teléfono</ion-label>
						<ion-input type="text" name="telefono" formControlName="telefono" #telefono></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.telefono.errors && form.controls.telefono.dirty">
						<ion-label color="danger" *ngIf="form.controls.telefono.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>		
		  </ion-row>		  
			
			<!--<ion-row>
				<ion-col>
					<ion-item>
						<ion-label floating>Contraseña</ion-label>
						<ion-input type="text" name="password" formControlName="password" #password></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>-->
			
			<ion-row>
				<ion-col>
					<span>Al hacer click en "Registrarse" confirmo que he leido y aceptado los 
						<a (click)="goToConditions()">terminos y condiciones</a> y las <a (click)="goToPolicies()">politicas de privacidad</a>
					</span>
				</ion-col>
			</ion-row>
			
			<ion-row>
				<ion-col>
					<button full ion-button (click)="register()" [disabled]="form.invalid">Registrarse</button>
				</ion-col>
			</ion-row>			
		</ion-grid>
	</form>
</ion-content>
