page-make-directions {
	ion-content{
		background: #f1f1f1 !important;
	}
	ion-searchbar{
		padding: 0 !important;
	}		
	.address-info{
		span{
			display: block;
		}
	}
	.cog{
		margin-top: 2em;
		& *{
			font-size: 1em;
		}
	}  
	ion-label{
		font-size: 1.2em;
		padding: .5em;
	}
	#map {
		width: 100%;
		height: 90%;
	}  	
	.textf{
		width: 200px;
		padding: 1em;
	}
}
