page-welcome {
	width: 100%;
	height: 90%;
	background: url('../assets/imgs/login.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	.bottom-nav{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	button{
		min-height: 70px;
	}
}
