page-list-products-store {
    ion-content{
        background: #f1f1f1 !important;

        ion-searchbar{
            padding: 0 !important;
        }
		ion-grid{
            padding: 0 !important;
            ion-col{
                padding: 0 !important;
                margin: 0 !important;
            }
		}        
    }

    ion-card{
        margin: 0 !important;
        width: 100% !important;
        height: 200px;
        .imgProduct{
            width: 100% !important;
            height: 80px !important;
        }        
        .desc{
            border-top: 1px dotted gray;
            border-bottom: 1px dotted gray;
        }
        .title{
            font-size: .9em;
            line-height: 1.5em;
        }
        .addBut{
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: flex-end;
        }
    }
}
