<ion-header>

  <ion-navbar color="themeorange">
    <ion-title>Productos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="productos">
    <ion-item color="themeorange">    
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProducts()" (ionCancel)="getProductos()"></ion-searchbar>
    </ion-item>
    <b padding>{{tienda.descripcion}}</b>
    <ion-row>
      <ion-col col-4 *ngFor="let producto of productos">
        <ion-card>
          <img [src]="producto.foto" class="imgProduct">
          <ion-card-content (click)="detailProduct(producto)" text-center>
            <p class="title">{{ producto.descripcion }}</p>
            <ion-note>₡{{ producto.precio | number }}</ion-note>
          </ion-card-content>
          <div class="addBut">
            <ion-col text-right>
              <button ion-button clear color="themeorange" (click)="add(producto)">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-col>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="productos == null" padding>
    <p text-center>
      <ion-icon name="ios-information-circle-outline" class="infoicon"></ion-icon>
    </p>
    <p class="info"> No tenemos productos registrados en esta tienda</p>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="goToMyCart()" color="themeorange">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>
</ion-content>