<ion-header>

  <ion-navbar color="primary">
    <ion-title>Productos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img [src]="tienda.foto" class="imgtienda">
  <ion-grid *ngIf="productos">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCategories($event)" (ionCancel)="getCategorias()">
    </ion-searchbar>
    <ion-row>
      <ion-col col-6 *ngFor="let producto of productos">
        <ion-card>
          <ion-card-content (click)="detailProduct(producto)">
            <img [src]="producto.foto">
            <div class="desc">
              <ion-note >{{ producto.tiendanombre }}</ion-note>
            </div>
            <p>{{ producto.descripcion }}</p>
            <p class="precio">Precio: <b text-right>{{ producto.precio | number }}₡</b></p>
          </ion-card-content>
          <button ion-button full color="primary" (click)="add(producto)">
            <ion-icon name="cart"></ion-icon> Añadir
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="productos == null" padding>
    <p text-center>
      <ion-icon name="ios-information-circle-outline" class="infoicon"></ion-icon>
    </p>
    <p class="info"> No tenemos productos registrados en esta tienda</p>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="goToMyCart()">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>
</ion-content>